@tailwind base;
@tailwind components;
@tailwind utilities;

/* 라이트 테마 */
:root {
  --background: 0 0% 100%; /* white */
  --foreground: 240 10% 10%; /* near-black */
  --font-sans: "Pretendard", sans-serif;
  --font-display: "Orbitron", sans-serif;
}

/* 다크 테마 */
.dark {
  --background: 240 10% 10%; /* deep gray */
  --foreground: 0 0% 98%; /* white-ish */
}

html {
  visibility: hidden;
}
html.dark,
html.light {
  visibility: visible;
}

body {
  @apply font-sans antialiased transition-colors duration-300;
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}
